extends layout

block content
  h1= title

  - let smartphoneid = toShow._id
  - let smartphonename = toShow.smartphonename
  - let smartphonebrand = toShow.brand
  - let smartphonecost = toShow.cost
  
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{smartphoneid}
  - let actionid = "/resource/smartphone/" + smartphoneid
  form(id='smartphoneForm', action= actionid, method="PUT")
    div.form-group
        label.smartphoneAttr(for='smartphonename') smartphone name
        input#smartphonename(type='text', name='smartphonename', value= smartphonename )
    div.form-group
        label.smartphoneAttr(for='brand') smartphone brand
        input#brand(type='text', name='brand', value= smartphonebrand )
    div.form-group
        label.smartphoneAttr(for='cost') smartphone cost
        input#cost(type='number', name='cost', value= smartphonecost )
    input(type="submit")

  script.
    document.forms['smartphoneForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error )
      });
    });
