extends layout

block content
  h1= title
  p smartphone is very useful for this generation.
  div(class="container-fluid")
        div(class="row")
            -
                let smartphones = results
            each v in smartphones
                div(class="col-sm-2") #{v.name}
                br
                br
                div(class="col-sm-2") #{v.cost}
                div(class="col-sm-2") #{v.brand}